html, body {
    background: black;
    color: #2b5aa6;
    margin:0;
    padding: 0;
    padding-top: 10px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

body {
    font-weight: 400;
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    border: none;
    background: #2b5aa6;
    padding: 20px 20px;
    text-transform: uppercase;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    font-size: 20px;
    text-align:center;
}

textarea {
    font-family: 'Fredoka One', cursive;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #2b5aa6;
    padding: 10px;
}

textarea:disabled {
    background-color: #a5a2a2;
}